[submodule "bin/node_modules/node-arguments"]
	path = bin/node_modules/node-arguments
	url = git://github.com/fczuardi/node-arguments.git
[submodule "bin/node_modules/node-css-compressor"]
	path = bin/node_modules/node-css-compressor
	url = git://github.com/fczuardi/node-css-compressor.git
[submodule "bin/node_modules/uglify-js"]
	path = bin/node_modules/uglify-js
	url = git@github.com:mishoo/UglifyJS.git
